/* this is for leetSpace*/
.chat-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 140px);
}

.chat-messages {
  flex: 1;
  overflow-y: scroll;
  padding: 5px;
}

.chat-message {
  padding: 10px;
  max-width: 60vw;
  min-width: 10vw;
  margin-bottom: 10px;
  background-color: #eee;
  border-radius: 5px;
  white-space: nowrap;
}

.chat-message-author {
  font-weight: bold;
}

.chat-message-timestamp {
  font-size: 12px;
  color: #999;
}

.chat-input-container {
  display: flex;
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

#chat-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  height:25px;
}

#chat-send-button {
  font-size: 16px;
  margin-left: 5px;
  margin-right: 0px;
  padding: 5px;
  background-color: rgba(62, 145, 87, 0.82);
  color: #ffffff;
  border-radius: 30px;
  width:75px;
  border: none;
  cursor: pointer;
}