
  .notefab{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right:10px;
    width: 50px;
    height: 50px;
    background-color: rgb(227, 232, 158);
    border-radius: 10px;
  }
  .note-tile{
      display: inline-block;
      width: 85%; /* Adjust the width of each square image as needed */
      background-color: rgb(246, 246, 246);
      border-radius: 15px;
      padding-left:15px;
      padding-right:15px;
      height: 100px;
      margin: 10px;
 
  }
  .submit-button {
    background-color: rgba(236, 239, 194, 1);
    border-radius:50px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    width:25%;
    color:rgba(240, 248, 255, 0);
    position:absolute;
    right:20px;
}